body {
  background-color: #dfdede;
}

.header {
  background-color: #dfdede; /* Change to the color you want for the header */
  padding: 10px; /* Add some padding to the header */
  color: #fff; /* Change to the text color you want */
}
 
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 100px; /* Adjust the maximum width of the logo as needed */
}
 